<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register page</title>
</head>

<body>
    <h1>
        <%= heading %>
    </h1>
    <form action="/register" method="post">
        <div>
            <label for="email">
                <h3>Email</h3>
            </label>
            <input type="email" id="email" name="email" placeholder="Enter your mail..." required>
        </div>
        <div>
            <label for="password">
                <h3>Password</h3>
            </label>
            <input type="password" id="password" name="password" placeholder="Enter your password..." required>
        </div>
        <button type="submit">Register</button>
    </form>
    <button onclick="goToLoginPage()">Login</button>
    <script src="/js/index.js"></script>
</body>

</html>